/.vscode
/.vs
/build*
/figures
/out
/results
/tmp
/venv
/video
/*.json
*.msgpack
*.training
__pycache__
.DS_Store
imgui.ini
/data/ball/ball.mp4
/data/p365/*
/data/cham/*
/data/spaceship/spaceship.mp4
/data/spaceship/colmap.db
/data/echo/*
/data/grom/*
/data/ps4/*
/data/utvvid/*
/data/utv/colmap.db
data/spaceship/colmap.db
